<h1>data name {{name}}</h1>

<table class="people_list">
  {{#each json}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.age}}</td>
<td style="background-color:yellow">{{this.gender}}</td>


        


        

        </tr>
  {{/each}}
</table>