

<div class="col-6 offset-3">

<form method="post" action="/curd/edit" >
<input type="hidden" name="id" value={{data.id}}/>
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Name</label>
  <input type="text" name="name" class="form-control" value={{data.name}}  id="exampleFormControlInput1" placeholder="John">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" name="email" class="form-control" value={{data.email}}  id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" name="about"  id="exampleFormControlTextarea1" rows="3">{{data.about}}</textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>


</form>


</div>


